/*
Estilo CSS para dar colores al texto.
Enero
*/
*{
    box-sizing: border-box;
    margin: 0;
}
#titulo{
    color:darkcyan;
}
.destacado{
    color:orange;
}
#subtitulo{
    color: blue;
}
.especial{
    color:purple;
}
#especial{
    color: fuchsia;
}
caption{
    color: blue;
}
div{
    color:olive;
}
a{
    color: red;
}
table{
    border: 3px solid black;
}


