/*
CSS Comparativa de móviles
Enero 2021; Yury B. Cuaran.
*/
*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-family: fantasy;
    border:5px dashed blue;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    margin: auto;
    text-align: center;
}

table{
    border: 5px solid blue;
    border-collapse: collapse;
    margin-top: 20px;
   
}
img{
    width: 40%;
}
table th{
    padding: 5px;
    text-align: center;
    background-color: white;
}
table td{
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #b2b0b0;
    border-right: 2px solid #b2b0b0;
}
.Y{
    background-color: #f0f5ff;
}