/*
Estilo css de yury06
Yury Beatriz Cuaran Hidalgo
*/
*{
    box-sizing: border-box;
    margin:0;
}
html{
    background-color: #0b7752;
}
h1{
    color: white;
    text-shadow: 5px 1px 1px#333;
    padding: 10px;
}
div{
    width: 51%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}
.A{
    border: 7px solid black;
    border-radius: 20px;
    background-color: white;
    margin:auto;
}
.B {
    float: left;
    color:white;
    border: 9px solid #500917;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #b76b29;

}
.C{
    float: right;
    color:  white;
    background-color: #bf872d;
    border: 9px solid #6d2f08; 
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;     
}
.D{
    clear: both
    color: white;
    background-color:#0f427e;
    border: 5px dashed #0076ff;
    text-align: justify;
    margin: auto;
    
} 
.E{
    float:left;
    color:white;
    border: 9px solid #500917;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #b76b29;
    text-align: justify;

}

.F{
    float: right;
    color: white;
    background-color: #bf872d;
    border: 9px solid #6d2f08;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
}
.G{
    clear: both;
    margin: auto;
    color: white;
    background-color:#0f427e;
    border: 5px dashed #0076ff;
    text-align: justify;
    margin-bottom: 20px;

}  
footer{
    border:2px solid black;
    width: 100%;
    text-align: center;
    background-color:chocolate;
    color:white;
}