/*
Hoja de estilo CSS FLORENCIA
Enero 2021, Yury Beatriz Cuaran
*/
*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    color: #1515a2;
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;
    
}
body{
    background-color:#c5cbbd;
    font-family: Verdana;
    font-size: 22px;   
}
h2{
    color: white;
    background-color: #56775a;
}
img{
    width: 20%;
    
}
.fio{
    float:left;
    margin:5px 0px 60px 5px;  
}
.fiore{
    margin:5px
}
.B{
    text-align:left;
    margin-left: 260px; 
}
.cro{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.C{
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align:justify;
}
.nov{
    float: right;
    margin-top: 20px;
    
}
.ll{
    margin-top: 20px;
    text-align:justify;
    margin-right: 260px;
    margin-left: 7px;
}
h5{
   margin-top: 30px;
}