/*
Estilo HTML 5 Y CSS3
Yury Beatriz Cuaran*/
*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: gainsboro;   
}
h1{
    text-align: center;
  
}
h2{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #898686;
}
.c{
    width:160px;
    margin-left: 80px;
    margin-top: 20px;   
}
.h{
    width:200px;
    margin-left: 80px;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.contenedor{
display: grid;
grid-auto-flow: column ;
}
.A{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
}
P{ text-indent: 2em;
    text-align: justify;
    width: 650px
}
.contenedor2{
display: grid;
grid-auto-flow: column;
}
.css{
    width:650px;
    margin-top: 20px;
    margin-right: 40px;
}
.color{
    background-color: white;
}
.resaltar{
    background-color: white;
}
