/*
Hoja de Estilos CSS Museos de Londres
Enero del 2021, @ybch.
*/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #299a95;
}
h1{
    color:#134545;
    text-align: center;
    font-size: 50px;
    font-family: verdana;
}
div{
     width: 60%;
}
h3{
  margin-left: 20px;
  margin-top: 20px;
}
.Z{
    margin: 3px;
    text-align: justify;
}

.A{
    background-color: white;
    border: 15px solid #ff5800;
    margin: 10px auto;
}
.B{
    background-color: white;
    border: 15px solid #efac69;
    margin: 10px auto;  
}
.M{
    display: flex;
    width: 50%;
    margin: auto;
}
.Bris{
    float: left;
    margin:30px 30px;
    border: 12px solid #faad20;
    outline: 12px solid #ef6c0c;
}
img{
    width: 22%;
    margin:auto;
    
}
.Britain{
    float: right;
    margin:30px 30px;
    border: 12px solid #ef6c0c;
    outline: 12px solid #faad20;
}
.national{
    float: left;
    margin:30px 30px;
    border: 12px solid #faad20;
    outline: 12px solid #ef6c0c;
}
.natural{
    float: right;
    margin:30px 30px;
    border: 12px solid #ef6c0c;
    outline: 12px solid #faad20;
}
p{
    padding:20px;
    text-align: justify;
    margin:auto;
}

