/*
Estilo HTML 5 Y CSS3
Yury Beatriz Cuaran*/
*{
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: gainsboro;   
}
h1{
    text-align: center;
  
}
h2{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #898686;
}
.h{
    width:20%;
    margin-left: 80px;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.c{
    width:15%;
    margin-left: 80px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.contenedor{
    display: flex;
    flex-direction: row;
}
.contenedor2{
   display: flex;
   flex-direction: row;
}

P{ 
    text-indent: 2.5em;
    text-align:justify;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right:300px;
    padding: 14px;
}
.A{
    margin-left: 47px;
}
.B{
    margin-left: 58px;
}
.resaltado{
    background-color: white;
}

